//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END



/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINFRAME           ICON    DISCARDABLE     "res\\xpilot.ico"
IDR_XPILOTTYPE          ICON    DISCARDABLE     "res\\xpilot.ico"
IDI_ICON1               ICON    DISCARDABLE     "res\\xpilot.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//
